.main_div--home-top-page {
    background-color: #201e1f;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 100vh;
    color:hsla(4, 52%, 46%, 0.808);
}

