.style-button-contact {
    background-color: white!important;
    border-color: #10131c;
    border-width: 2px;
}


.a-btn-contact {
    color: #10131c!important;
    text-decoration: none!important;
}