    
.hr-orange {
    border : solid 1px #b14138;
}  
    
    
    // INDEX PAGE 

.main_div--home-top-page {
    color: #10131c;
}
.div-h3-index {
    color: #10131c;
}
.h2-footer-section--index {
    color: #10131c;
}

    // PRESENTATION PAGE 

.font-weight-light {
    color: #10131c;
}
.container-h2-p {
    color: #10131c;
}


    // PRESTATION PAGE 


    // REALISATION PAGE 

    // CONTACT PAGE

    .body {
        color: #10131c;
    }

