.main_div--home-top-page {
    background-color: #201e1f;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    width: 100%;
    height: 100vh;
    color:rgb(241, 236, 236);
}

