@media (max-width: 1025px)  {
    .h2-title-presentation {
      font-size: 3rem;
    }
    .h5-title-paragraph {
      font-size: 2rem;
      margin-left: 15px;
      margin-right: 15px;
    }
    .container-li-categories {
      font-size: 1.60rem;
    }
    .h2-title-presentation-footer {
      font-size: 2.3rem;
    }
    .paragraph-presentation {
      font-size: 1.6rem;
      margin-left: 15px;
      margin-right: 15px;
    }
  }    