@media (min-width: 0px) {
  .header .header_nav {
    overflow: auto; }
  .header .header_nav_img {
    width: 15%;
    height: auto;
    margin: auto; }
  .header .header_nav_div_ul {
    text-align: center;
    display: flex;
    height: 50vh;
    justify-content: space-around;
    margin: 30px; }
    .header .header_nav_div_ul li {
      display: inline-block; }
    .header .header_nav_div_ul li a {
      color: #10131c;
      text-decoration: none; } }
@media (min-width: 768px) {
  .header .header_nav_img {
    width: 7%; }
  .header .header_nav_div_ul {
    width: 100%;
    height: auto; }
  .header .header_nav_div_ul_li_a::after {
    content: '';
    width: 0;
    /*display: ;*/
    margin: auto;
    height: 2px;
    background: #b14138;
    transition: width .3s;
    display: flex; }
  .header .header_nav_div_ul_li_a:hover::after {
    width: 100%;
    transition: width .3s; } }
@media (min-width: 992px) {
  .header {
    height: 100vh; }
    .header .header_nav {
      height: 100vh;
      position: fixed; }
      .header .header_nav .header_nav_img {
        width: 50%; }
      .header .header_nav .header_nav_div_ul {
        height: 80%;
        font-size: 1.3rem; } }

.form-control:focus {
  transition: .5s;
  border-color: #b14138;
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.712); }

.main_section_div-row_div-col--coordoner {
  margin-top: 60px; }
  @media (min-width: 992px) {
    .main_section_div-row_div-col--coordoner {
      margin-top: 0; } }

* {
  box-sizing: border-box; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #dfe6eb;
  background-color: #b14138; }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
  color: #10131c;
  display: flex;
  justify-content: center; }

.span-numberText--active {
  letter-spacing: 3px;
  color: #b14138; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #b14138; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
.img-slider-index {
  width: 85%; }

@media (max-width: 1025px) {
  .h2-title-presentation {
    font-size: 3rem; }

  .h5-title-paragraph {
    font-size: 2rem;
    margin-left: 15px;
    margin-right: 15px; }

  .container-li-categories {
    font-size: 1.60rem; }

  .h2-title-presentation-footer {
    font-size: 2.3rem; }

  .paragraph-presentation {
    font-size: 1.6rem;
    margin-left: 15px;
    margin-right: 15px; } }
@media (max-width: 450px) {
  .h3-title-index {
    font-size: 1.45rem; }

  .img-slider-index {
    width: 250px; }

  .prev {
    margin-left: 10px;
    padding: 0; }

  .next {
    margin-right: 10px;
    padding: 0; } }
@media (max-width: 450px) {
  .h2-title-presentation {
    font-size: 2.5rem; } }
@media (max-width: 450px) {
  .h5-title-paragraph {
    font-size: 1.4rem; } }
.backdrop {
  z-index: 1000;
  background-color: white;
  opacity: 0.98;
  transform: translateZ(0px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none; }

.cross {
  font-size: 45px;
  color: black;
  cursor: pointer;
  float: left; }

.img-fluid {
  height: 350px;
  width: 350px;
  cursor: pointer; }

.size-img {
  height: 27em;
  width: 24em; }

@media (max-width: 767px) {
  .img-fluid {
    width: 400px; }

  .col-lg-4 {
    display: flex;
    justify-content: center; } }
.button-slider-display {
  cursor: pointer;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  padding: .25em;
  width: 60px;
  height: 60px;
  background-color: #b14138;
  color: #10131c;
  text-decoration: none !important; }
  .top-link.show {
    visibility: visible;
    opacity: 1; }
  .top-link.hide {
    visibility: hidden;
    opacity: 0; }
  .top-link svg {
    fill: #000;
    width: 24px;
    height: 12px; }
  .top-link:hover {
    background-color: #b14138;
    opacity: 0.9;
    color: #10131c; }
    .top-link:hover svg {
      fill: #000000; }

.fa-arrow-up {
  color: #10131c; }

@media (max-width: 450px) {
  .top-link {
    width: 40px;
    height: 40px; } }
body {
  background-color: white; }

.main_div--home-top-page {
  background-image: url("../img/carrelage-final.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding-top: 30vh;
  color: #b14138; }

#hr-index-title {
  width: 50%; }

.hr-orange {
  border-width: 1.2px;
  border-color: #b14138;
  border-style: solid; }

.hr-container {
  width: 50%; }

.h1-title {
  color: #dfe6eb; }

.main_div--home-top-page {
  text-align: center;
  color: #dfe6eb;
  font-family: 'Roboto Slab', serif; }

.div-h3-index {
  color: #10131c;
  font-family: 'Roboto Slab', serif; }

.h2-footer-section--index {
  color: #10131c;
  font-family: 'Roboto Slab', serif; }

.font-weight-light {
  color: #10131c;
  font-family: 'Roboto Slab', serif; }

.container-h2-p {
  color: #10131c; }

.h2-title-presentation {
  font-family: 'Roboto Slab', serif; }

.h2-title-presentation-footer {
  font-family: 'Roboto Slab', serif; }

.h2-container-footer {
  font-family: 'Roboto Slab', serif; }

.body {
  color: #10131c; }

.favicon {
  color: #b14138; }

.a-link-facebook {
  color: #10131c;
  text-decoration: none; }

.a-link-facebook:hover {
  color: #10131c !important; }

.container-argument-confiance--index {
  height: 400px; }

.i-div-logo {
  font-size: 40px !important;
  margin-bottom: 20px !important; }

.style-button-contact {
  transition: .5s;
  background-color: white !important;
  border-color: #10131c;
  border-width: 2px; }

.style-button-contact:hover {
  background-color: #dfe6eb;
  border-color: #b14138; }
  .style-button-contact:hover .a-btn-contact {
    color: #b14138; }

.a-btn-contact {
  transition: .5s;
  color: #10131c;
  text-decoration: none !important; }

.contact-button {
  color: #10131c;
  background-color: white !important;
  border-color: #10131c;
  border-width: 2px; }

.btn:focus {
  transition: .5s;
  border-color: #b14138;
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.712); }

.contact-button:hover {
  background-color: #dfe6eb;
  border-color: #b14138;
  color: #b14138; }

.contact-button:active {
  background-color: #dfe6eb;
  border-color: #b14138;
  color: #b14138; }

.contact-button:focus {
  background-color: #dfe6eb;
  border-color: #b14138;
  color: #b14138; }

.section-devis {
  margin-top: 100px; }

.div-container_div-row_div-col--devis {
  margin-top: 100px; }

/*# sourceMappingURL=style.css.map */
