@import '../abstract/media';

.backdrop {
    z-index: 1000;
    background-color: white;
    opacity: 0.98;
    transform: translateZ(0px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.cross {
    font-size: 45px;
    color:black;
    cursor: pointer;
    float: left;
}





