//import media queries
@import '../abstract/media';
.img-fluid {
    height: 350px;
    width: 350px;
    cursor: pointer;
}
@include xs{
    .size-img{
        height: 25em;
    width: 14em;
    }
}
@include md{
    .size-img{
        height: 25em;
    width: 20em;
    }
}
@media (max-width: 767px) {
    .img-fluid {
    width: 400px;
    }
    .col-lg-4 {
        display: flex;
        justify-content:center;
    }
    
}