.img-fluid {
    height: 350px;
    width: 350px;
    cursor: pointer;
}
.size-img{
    height: 27em;
width: 24em;
}
@media (max-width: 767px) {
    .img-fluid {
    width: 400px;
    }
    .col-lg-4 {
        display: flex;
        justify-content:center;
    }
    
}