//import media queries
@import '../abstract/media';

//header with nav for all page
.header{
	//default
	@include xs{
		.header_nav{
			overflow: auto;
		}
		.header_nav_img{
			width: 15%;
			height: auto;
			margin: auto;
		}
		.header_nav_div_ul{
			text-align: center;
			display: flex;
			height: 50vh;
			justify-content: space-around;
			margin: 30px;
		}
	}

	//small screen
	@include sm{

	}
	//medium screen
	@include md{
		.header_nav_img{
			width: 7%;
		}
		.header_nav_div_ul{
			width : 100%;
			height : auto;
		}
	}
	//large screen
	@include lg{
		height: 100vh;
		.header_nav{
			height: 100vh;
			.header_nav_img{
				width: 50%;
			}
			.header_nav_div_ul{
				height : 80%;
				font-size: 1.3rem;
			}
		}
	}

}
